<div class="main-panel">
  <div class="content-wrapper">
    
    <div class="row">

      <div class="container emp-profile">

        <div class="row">
          <div class="col-md-4">
            <div class="profile-img">
              <img
                class=""
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                alt=""
              />
              <div class="file btn btn-lg btn-primary">
                Profile Photo

              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="profile-head">
              <h2>
                Boban Das
              </h2>
              <h6>
                <span class="icon-user">  </span> Admin 
              </h6>

              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="home-tab"
                    data-toggle="tab"
                    href="#home"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true"
                  >About</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="profile-tab"
                    data-toggle="tab"
                    href="#profile"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false"
                  >Timeline</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="profile-work">
              <p>SOCIAL LINK</p>
              <a>Facebook</a><br />
              <a>Instagram</a><br />

              <p>SKILLS</p>
              <a href="">Web Devoloping</a><br />
              <a href="">Graphic Designing</a><br />
              <a href="">Video Editing</a><br />
              <a href="">Training</a><br />

            </div>
          </div>
          <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <div class="row">
                  <div class="col-md-6">
                    <label>Employee ID</label>
                  </div>
                  <div class="col-md-6">
                    <p>Kshiti123</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Resident ID Number</label>
                  </div>
                  <div class="col-md-6">
                    <p>55884659656546</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Name</label>
                  </div>
                  <div class="col-md-6">
                    <p>Kshiti Ghelani</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Email</label>
                  </div>
                  <div class="col-md-6">
                    <p>kshitighelani@gmail.com</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Mobile</label>
                  </div>
                  <div class="col-md-6">
                    <p>123 456 7890</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Job Discription</label>
                  </div>
                  <div class="col-md-6">
                    <p>Admin</p>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="profile"
                role="tabpanel"
                aria-labelledby="profile-tab"
              >
                <div class="row">
                  <div class="col-md-6">
                    <label>Date of Join</label>
                  </div>
                  <div class="col-md-6">
                    <p>05 Jan 2021</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Branch</label>
                  </div>
                  <div class="col-md-6">
                    <p>Dubai</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Salary</label>
                  </div>
                  <div class="col-md-6">
                    <p>400</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Salary advance</label>
                  </div>
                  <div class="col-md-6">
                    <p>120</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Salary pending</label>
                  </div>
                  <div class="col-md-6">
                    <p>280</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>Your Bio</label> <span><a class="icon-pencil" href="#"></a></span><br />
                    <p>I am a good person and my full stregths are commited with
                      my company. iam an admin of this occation making good
                      skill and devolop my knowlge from this company</p>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-6"></div>
              <div class="col-3">
                
                <a
                  href="/admin/profile/edit-profile"
                  class="btn btn-sm btn-outline-info btn-block btn-icon-text"
                >Edit Profile</a>
              </div>
              <div class="col-3">

                <a
                  href="#"
                  class="btn btn-sm btn-outline-primary btn-block btn-icon-text"
                >Change Password</a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>